/* body{
			background-image:url("../img/2.png");
			background-repeat:no-repeat; 
			background-size: 100% auto;8
			} */
/* 暂时没有使用 */

body {
	margin: 0;
	padding: 0;
	background: #494A5F;
	font-weight: 400;
	/* 属性设置文本的粗细。 */
	font-family: "Microsoft YaHei", "宋体", "Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif, FreeSans, Arimo;
	/* font-family 规定元素的字体系列，如果浏览器不支持第一个字体，则会尝试下一个。*/
}

div.search {
	padding: 250px;
	position: relative;
	/* 生成相对定位的元素，相对于其正常位置进行定位。 */
	width: 500px;
	margin: 0 auto;
	/* 简写属性在一个声明中设置所有内边距属性,上,右,下,左. */
	font-size: 0;
}
/*控制位置*/



input,button {
	border: none;
	outline: none;
	/* 规定了四个边框的样式 */
}

input {
	width: 100%;
	/* 宽度。定义基于包含块（父元素）宽度的百分比宽度 */
	height: 42px;
	padding-left: 13px;
	/* 调整该元素的左内边距 padding-right 调整元素的右内边距*/
}

button {
	height: 42px;
	width: 42px;
	cursor: pointer;
	/* 改变光标的形状,pointer出现手形光标 */
	position: absolute;
	
	/* 规定元素的定位类型,absolute生成绝对定位元相对于 static 定位以外的第一个父元素进行定位。元素的位置通过 "left"	, "top", "right" 以及 "bottom" 属性进行规定。 */
}

/* 颜色和样式 */
/* .bar2 {background: #DABB52;} */
/* 背景图层 */

.bar2 input {
	/* background: #F9F0DA; */
	background-color: transparent;
	border: 0;
	border-radius: 12px;
	border: 3px solid #353535;
}

.bar2 button {
	height: 35px;
	width: 32px;
	/* 调整按钮大小 */
	top: 257px;
	right: 245px;
	/* 调整按钮位置 */
	background: #aa0000;
	border-radius: 3px;
}

.bar2 button:before {
	content: "\f105";
	font-family: FontAwesome;
	color: #F9F0DA;
	font-size: 23px;
	font-weight: bold;
}

/* 	搜索框的css样式 */
